/*
 * Derived from einaros's Sons of Obsidian theme at
 * http://studiostyl.es/schemes/son-of-obsidian by
 * Alex Ford of CodeTunnel:
 * http://CodeTunnel.com/blog/post/71/google-code-prettify-obsidian-theme
 */

.str {
    color: gold;
}

.kwd {
    color: #fff4b9;
}

.com {
    color: #66747B;
}

.typ {
    color: #c4b66e;
}

.lit {
    color: #FACD22;
}

.pun {
    color: #fff4b9;
}

.pln {
    color: #fff4b9;
}

.tag {
    color: #8AC763;
}

.atn {
    color: #f9ff8f;
}

.atv {
    /* color: #EC7600; */
    color: gold;
}

.clsname{
    color: #c4b66e;
}

.dec {
    color: purple;
}

pre.prettyprint {
    border: 0px solid #888;
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}

.prettyprint {
    background: #000;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
    color: #555;
    list-style-type: decimal;
}

li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #111;
}

@media print {
    .str {
        color: #060;
    }
    .kwd {
        color: #006;
        font-weight: bold;
    }
    .com {
        color: #600;
        font-style: italic;
    }
    .typ {
        color: #404;
        font-weight: bold;
    }
    .lit {
        color: #044;
    }
    .pun {
        color: #440;
    }
    .pln {
        color: #000;
    }
    .tag {
        color: #006;
        font-weight: bold;
    }
    .atn {
        color: #404;
    }
    .atv {
        color: #060;
    }
}