/* font-family: 'Montserrat', sans-serif; */
@import "carousel.css";
/* https://coolors.co/gradient-palette/006393-075900?number=7 */

body {
  /* font-family: 'Source Code Pro', monospace; */
  /* font-family: 'Ubuntu Mono', monospace; */
  font-family: 'Montserrat', sans-serif;
  color: #c5a800;
  background-color: black;
}

#my_name {
  font-family: 'Quicksand', sans-serif;
  font-size: 5vw;
  font-weight: 900;
}

a {
  color: #c5a800;
  text-decoration: none;
}

a:hover {
  color: #c5a800;
  text-decoration: none;
}

#code_chev {
  font-size: 1000px;
  position: absolute;
  z-index: 999;
  right: 0;
  opacity: 0.3;
  height: 100vh;
}

#logo {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 1s infinite;
  cursor: pointer;
  color: gold;
  font-weight: 900;
  font-size: 2.5em;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Megrim', cursive;
  margin-left: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

h1, h2, h3, h4, h5, h6 {}

#main {
  background-color: black;
}

/* .acode {
  filter: blur(0.9px) brightness(1.3);
} */

#typewriter {
  font-size: 1.1em;
  color: #b9b9b9;
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  overflow: hidden;
  height: 50vh;
  max-height: 50vh;
}

#typewriter::after {
  content: "|";
  color: gold;
  animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* effect-shine */

a.effect-shine {
  border-bottom: 1px solid;
}

a.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
  cursor: pointer;
  color: gold;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #2c2c2c;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: white;
  line-height: 0;
}

.back-to-top:hover {
  background: gold;
  color: white;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/**
* Desktop Navigation 
*/

.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  font-weight: 1000;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: black;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 5px;
  background: #2c2c2c;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i {
  font-size: 20px;
  color: black;
}

.nav-menu a span {
  padding: 0 5px 0 7px;
  color: gold;
}

@media (min-width: 992px) {
  .nav-menu a {
    width: 56px;
  }
  .nav-menu a span {
    display: none;
    color: gold;
  }
}

.nav-menu a:hover, .nav-menu .active, .nav-menu li:hover>a {
  color: black;
  background: gold;
}

.nav-menu a:hover span, .nav-menu .active span, .nav-menu li:hover>a span {
  color: black;
}

.nav-menu a:hover, .nav-menu li:hover>a {
  width: 100%;
  color: black;
}

.nav-menu a:hover span, .nav-menu li:hover>a span {
  display: block;
}

/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #c5a800;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #c5a800;
  background-color: #ceb602;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
}

@media (min-width: 992px) {
  #intro {
    padding-left: 160px;
  }
}

#intro:before {
  content: "";
  background: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: white;
}

#intro p {
  color: white;
  margin: 15px 0 0 0;
  font-size: 26px;
}

#intro p span {
  color: #c5a800;
  letter-spacing: 1px;
}

#intro .social-links {
  margin-top: 30px;
}

#intro .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #c5a800;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#intro .social-links a:hover {
  color: #c5a800;
}

@media (max-width: 992px) {
  #intro {
    text-align: left;
  }
  #intro h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #intro p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Source Code Pro', monospace;
  /* text-transform: uppercase; */
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #c5a800;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #ceb602;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about{
  height: 100vh;
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #c5a800;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #c5a800;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  color: #c5a800;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #ceb602;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #c5a800;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #ceb602;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #c5a800;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #ceb602;
}

/*--------------------------------------------------------------
# Work
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .info {
  width: 100%;
  background: black;
}

.contact .info i {
  font-size: 20px;
  color: #c5a800;
  float: left;
  width: 44px;
  height: 44px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #c5a800;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #c5a800;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #ceb602;
  color: #c5a800;
}

.contact .php-email-form {
  width: 100%;
  background: black;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #c5a800;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #c5a800;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: black;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: black;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: black;
  border: 2px solid #c5a800;
  padding: 10px 35px;
  color: #c5a800;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #c5a800;
  color: black;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: black;
  color: #c5a800;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ceb602;
  color: #c5a800;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #0678e3;
  color: #c5a800;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}